@charset "UTF-8";

/*
Color Palette
baby powder: #F7F7F2
Pale Spring Bud: #E4E6C3
Artichoke: #899878
Charleston Green: #222725
Smokey Black: #121113

*/
body
{
    width: 85%;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #899878;
}

#header
{
    background-color: #E4E6C3;
}
 
#content
{
    background-color: #E4E6C3;
}

#footer
{
    background-color: #E4E6C3;
}

/* Nav Bar */
#navBar
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.memberBox
{
    height: 200px;
    width: 200px;
    border: black;
    border-style: solid;
    border-width: 3px;
}