@charset "UTF-8";

#header
{
    background-color: rebeccapurple;
}

#content
{
    background-color: blue;
}

#footer
{
    background-color: red;
}

/* Nav Bar */
#navBar
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.memberBox
{
    height: 200px;
    width: 200px;
    border: black;
    border-style: solid;
    border-width: 3px;
}